{
  "env": {
    "development": {
      "presets": ["es2015", "next/babel"]
    },
    "production": {
      "presets": ["next/babel"]
    },
    "test": {
      "presets": ["es2015", "next/babel"]
    }
  }
}
